@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Merriweather:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

/* *** shared css *** */

.container {
  width: 82%;
  max-width: 1320px;
  margin: 0 auto;
}

/* *** header-banner css *** */

.header-banner {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
  margin-top: 40px;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Banner\ Image.png");
  background-position: center;
  background-size: cover;
}
.header-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 10px;
}
.header-title1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 58px;
  font-weight: 900;
  line-height: 70px;
}

/* *** new-year section css *** */

.new-year {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.new-year-title {
  margin-top: 100px;
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 30px;
}
.new-year-description {
  color: #f00;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 16px;
}
.new-year-subtitle {
  color: #070211;
  font-family: Inter;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 34px;
}
.new-year-image {
  width: 52%;
  max-width: 700px;
}

/* *** welcome section css *** */

.welcome-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 90px;
  height: 500px;
  gap: 70px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Vectorrr.png");
  border-radius: 16px;
  background-position: center;
  background-size: cover;
  margin-top: 120px;
}
.welcome-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 6.04px;
  padding-bottom: 10px;
}
.welcome-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 30px;
}
.welcome-subtitle {
  padding-left: 20px;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
.welcome-img img {
  height: 400px;
}

/* *** join-now section css *** */

.join-container {
  width: 100%;
  height: 420px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-title {
  color: #070211;
  font-family: Inter;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 12px;
}
.join-title span {
  color: #f00;
  font-family: Inter;
  font-size: 26px;
  font-weight: 600;
}
.join-btn {
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 28px;
  border: 0;
  border-radius: 8px;
  background: #f00;
  margin-top: 30px;
}

/* *** coming-soon section *** */

.comingsoon-container {
  width: 100%;
  height: 380px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-top: 100px;
}

.comingsoon-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.left-subtitle {
  color: #f00;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 14px;
}
.left-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 38px;
  font-weight: 900;
  text-transform: capitalize;
  padding-bottom: 18px;
}

.left-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.middle-round {
  width: 380px;
  height: 380px;
  border-radius: 463px;
  border: 12px solid #f00;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-round img {
  width: 85%;
  height: 85%;
}

.right-title {
  color: #f00;
  font-family: Inter;
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 12px;
}
.right-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 26px;
}
.comingsoon-right {
  display: flex;
  justify-content: end;

  flex-direction: column;
  padding-left: 40px;
}
.comingsoon-right img {
  width: 60%;
}

/* *** holidya section css *** */

.holiday {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.holiday-subtitle {
  color: #070211;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 14px;
}
.holiday-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 55px;
  font-weight: 900;
  padding-bottom: 18px;
}
.holiday-title span {
  color: #f00;
  font-family: Merriweather;
  font-size: 55px;
  font-weight: 900;
  
}
.holiday-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  width: 720px;
  text-align: center;
}

